		<!-- Footer -->
			<div id="footer">
				<h3>
                    Go Links <a href="#nav"> <i class="icon fa-arrow-circle-up"></i> </a>
                </h3> 
                
                <!-- Icons -->
					<ul class="icons">
						<!--
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        -->
                        <li><a href="https://hub.docker.com/r/herberthb/map2check/" class="icon fa-rocket"><span class="label">Docker</span></a></li>
						<li><a href="https://github.com/hbgit/Map2Check" class="icon fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="https://travis-ci.org/hbgit/Map2Check" class="icon fa-search"><span class="label">Travis</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>TOOL Name: Title.</li>
						</ul>
					</div>
					 
			</div>

	</body>
</html>
